## OS
.DS_Store
.idea
.editorconfig

package-lock.json
yarn.lock
.npmrc

# Ignored suffix
*.log
*.md
*.svg
*.png
*ignore

## Local
node_modules
.husky
commitlint.config.js
.env
.env.*
.env.local
.env.*.local

## Built-files
.cache
dist
